body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: white;
  color: black;
  font: normal 10pt/12pt Arial, Helvetica, sans-serif;
  line-height: 120%; }

P {
  font: normal 10pt/12pt Arial, Helvetica, sans-serif; }

/*** Container ************************************************************************************/
.biglist {
  font-size: 14pt;
  margin-bottom: 10px; }

.title {
  font-size: 30pt;
  font-weight: 800; }
  .title .blue {
    color: #0098DA; }
  .title .purple {
    color: #A8518A; }

.subtitle {
  font-size: 18pt;
  font-weight: bold; }
  .subtitle .black {
    color: black; }
  .subtitle .blue {
    color: #0098DA; }
  .subtitle .grey {
    color: #808080; }
  .subtitle .red {
    color: red; }

.login-label {
  font-size: 12pt;
  font-weight: bold; }

.link-label {
  font-size: 12pt;
  font-weight: bold;
  color: #0098db; }

.text-separator {
  font-size: larger; }

.required-asterisk {
  color: red;
  font-size: larger; }

/**************************************************************************************************/
ul {
  list-style-image: url("http://forms.dominionblue.com/XMlogin-staging/Assets/images/PurpleBullet.png"); }

/**************************************************************************************************/
.specialty-center {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.specialty-title {
  font-size: 20pt;
  font-weight: bold;
  line-height: 110%;
  color: #0098DA; }

.specialty-subtitle {
  font-weight: bold;
  color: #0098DA;
  text-align: center; }

.specialty-button {
  width: 80px;
  padding-bottom: 5px; }

/*** Shortcuts ************************************************************************************/
.bold {
  font-weight: bold; }

.grey {
  color: #808080; }

.light-blue {
  color: #0098DA; }

/*** Hyperlinks ***********************************************************************************/
A {
  text-decoration: none; }
  A:link {
    color: blue; }
  A:visited {
    color: blue; }
  A:active {
    color: blue; }
  A:hover {
    color: red;
    text-decoration: underline; }

.quick-link:link {
  color: red; }

.quick-link:visited {
  color: red; }

.quick-link:active {
  color: red; }

.quick-link:hover {
  color: red;
  text-decoration: none; }

/*** Debug ****************************************************************************************/
.debug {
  margin-top: 10px;
  padding: 5px;
  width: 100%;
  color: white;
  background-color: darkred; }
